html, body {
  background: #fffae7;
  color: #666;
  font-size: 13pt;
  font-family: monaco, courier, monospace;
}
a {
  font-size: 12pt;
}
ul {
  list-style-type: square;
}  

.header {
  color: #449;
  font-weight: bold;
}
.note {
  color: #999;
  font-size: 11pt;
}
